@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #fafafa}
p{font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.container { 
    animation: fadeInAnimation ease 5s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
	}
    100% { 
        opacity: 1; 
     } 
} 


.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

#progressbar{
	margin-top:100px;
}

#hoveranchor:hover{
	font-weight: bold;
}
#removeMem{
	float: right;
	margin-left: 20px;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.sidebar-header a:hover,
a:focus{
  color: #7386D5;
  background: #fff;
  transition: all 0.3s;
}

/* .navbar{
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);

} */

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}


.wrapper {
	display: flex;
	height: 100vh;
    align-items: stretch;
}
#sidebar {
	min-width: 250px;
	max-width: 250px;
	height: 100%;
    background: #7386D5;
    color: #fff;
	transition: all 0.3s;
	position:fixed;
	z-index: 1;
}
.container{
	margin-left: 250px;
}
#sidebar #sidebarCollapse1{
	float: right;
	display: none;
}
.container .content #sidebarCollapse{
	display: none;
}
#sidebar.active{
	margin-left: -250px;
	/* position:fixed;
	z-index: 11111; */
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	margin-bottom: 5px;
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover{
    color: #7386D5;
	background: #fff;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
#sidebar ul li a .badge{
	color: #000000;
	background: #fff;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#myInput{
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
	border:none;
	border-bottom: 1px solid #000000;
	outline: none;
	background: none;

}
.fa-search{
	float: left;
	margin-bottom: 10px;
	margin-left: 5px;
}
#myInput:focus:not([readonly]) {
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 0 #000000;
  }
#sidebar ul li.active>a{
    color: #7386D5;
	background: #fff;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download{
	background: #fff;
	color: #7386D5;
}
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.content {
    padding: 20px;
    /* min-height: 100vh; */
	transition: all 0.3s;
	/* margin-left: 250px; */
}

@media(max-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
		position:fixed;
		z-index: 11111;
	}
	#sidebar #sidebarCollapse1{
		float: right;
		display: block;
	}
	.container .content #sidebarCollapse{
		display: block;
	}
	#sidebarCollapse span{
		display: none;
	}
	.container{
		width: 100vw;
		margin-left: 0;
	}

}
